.chart-time-container {
    padding: rem(70px) rem(10px) rem(10px);
  }

  .dygraph-label {
    font-size: rem(10px);
  }

  .dygraph-legend {
    // overwrite dygraph inline styles
    background-color: transparent !important;
    top: rem(-30px) !important;
    left: rem(10px) !important;
    width: 100% !important;

    > span {
      margin-left: rem(5px);
      margin-right: rem(10px);
      display: inline-block;
    }
  }


.chart-heatmap-container {

  .chart-heatmap {
    padding: rem(50px) rem(50px) rem(50px);
  }
  
  .calendR-label {
    font-size: rem(10px);
  }
  
  .calendR-legend {
    //overwrite calendr inline styles 
    background-colour: transparent !important;
    top: rem(-30px) !important;
    left: rem(10px) !important;
    width: 100% !important;
    
    > span {
      margin-left: rem(5px);
      margin-right: rem(10px);
      display: inline-block;
    }
  }
}
