.dashboard-filters {
  display: grid;
  gap: rem(15px);
  flex: 1 1 auto;
  grid-template-columns: repeat(3, 1fr);
  min-width: 350px;


  @include mediaFrom($breakMd) {
        grid-template-columns: repeat(3, 1fr);
    max-width: 550px;
    gap: rem(30px);
  }

  @include mediaFrom($breakLg) {
    grid-template-columns: repeat(3, 1fr);
    max-width: 700px;
    gap: rem(30px);
  }

  .form-group {
    @include dropdown;
    @include dropdownFilters;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;

    @include mediaFrom($breakLg) {
      align-items: center;
      flex-direction: row;
      justify-content: flex-end;
    }

    &:last-child {
      grid-column: 1 / 3;

      @include mediaFrom($breakXs) {
        grid-column: auto;
      }
    }

    label {
      font-weight: 500;
      margin-bottom: rem(5px);
      white-space: nowrap;
  
      @include mediaFrom($breakLg) {
        margin-bottom: 0;
        margin-right: $spacingSm;
      }
    }

    & > div {
      width: 100%;
    }
  }
}
