.logo {
  color: #083fa9;
  fill: #083fa9;
  text-decoration: none;
  transition: color $hoverTransition, fill $hoverTransition;

  &:hover {
    color: #083fa9;
    fill: #083fa9;
  }
}

.logo-dashboard {
  width: $dashboardLogoWidth;
}

.logo-main {
  @include flex-center;
  fill: $gray;
  width: $mainLogoWidth * 2/3;

  @include mediaFrom($breakSm) {
    fill: $ash;
    width: $mainLogoWidth;
  }
}

.logo-svg {
  width: 100%;
}