.dashboard-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  
/* === METRIC PANEL GRID === */
.metric-panel-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 16px;
  flex: 1 1 100%;
  

  @media (min-width: $breakXs) {
    grid-template-columns: 1fr;
    flex: 11 100%;
  }
  
  @media (min-width: $breakSm) {
    grid-template-columns: 1fr;
    flex: 11 100%;
  }
  

  @media (min-width: $breakMd) {
    grid-template-columns: repeat(2, 1fr);
    flex: 1 1 100%;
  }
  
  @media (min-width: $breakLg) {
    grid-template-columns: repeat(2, 1fr);
    flex: 1 1 100%;
  }


  @include mediaFrom($breakSm) {
    grid-template-columns: 1fr;
    flex: 1 1 100%;
    
  }
  
  @include mediaFrom($breakMd) {
    grid-template-columns: repeat(2, 1fr);
    flex: 1 1 100%;
  }

  @include mediaFrom($breakLg) {
    grid-template-columns: repeat(2, 1fr);
    flex: 1 1 35%;
  }

  @include mediaFrom($breakXl) {
    grid-template-columns: repeat(2, 1fr);
    flex: 1 1 35%;
  }

  @include mediaFrom($breakXxl) {
    flex: 1 1 35%;
  }
}


/* === HEATMAP PANEL === */
.panel-heatmap {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  flex: 1 1 48%;
  min-width: $breakXs;
//  background-color: rgba(0, 255, 0, 0.2); // Debugging only

  border-radius: $filletSmall;
  overflow: hidden;

  .heatmap-header {
    position: relative;
    width: 100%;

    label {
      @include visuallyHidden;
    }

    .shiny-input-container {
      @include dropdown;
      @include dropdownPanels;
      width: 100%;
    }
  }

  @media (max-width: $breakSm) {
    flex-direction: column;
    flex: 1 1 100%;
  }

  @media (max-width: $breakMd) {
    flex: 1 1 100%;
  }

  @include mediaFrom($breakXl) {
    flex: 1 1 50%;
  }

  @include mediaFrom($breakXxl) {
    flex: 1 1 50%;
  }
}
}


/* === TIME CHART PANEL === */
.panel.panel-time-chart {
  min-width: $breakXs;
  width: 100%;
  margin-top: 16px;
  position: relative;
//  background-color: rgba(0, 0, 255, 0.2);

  .panel-header {
    position: absolute;
    width: 100%;

    label {
      @include visuallyHidden;
    }

    .shiny-input-container {
      @include dropdown;
      @include dropdownPanels;
      width: 100%;
    }
  }
}


/* === GENERAL PANEL STYLING === */
.panel {
  border-radius: $filletSmall;
  box-shadow: $boxShadowSmall;
  width: 100%;
}


/* === METRIC PANEL STYLING === */
.panel-metric {
  position: relative;
  min-width: $breakXs;
  margin-bottom: rem(10px);
//  background-color: rgba(255, 0, 0, 0.2); // Debugging only

  label {
    @include visuallyHidden;
  }

  .shiny-input-container {
    @include dropdown;
    @include dropdownPanels;
    width: 100%;
  }

  .shiny-html-output {
    display: grid;
    align-items: end;
    column-gap: rem(30px);
    gap: rem(10px);
    grid-template-areas:
      "metric icon"
      "percent percent";
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    height: $infoBoxHeight;
    padding: 12px;
  }

  .icon {
    @include flex-center;
    fill: $ash;
    grid-area: icon;
    height: $infographicIconSize;
    pointer-events: none;
    width: $infographicIconSize;
  }

  .metric-label {
    font-size: 0.5em;
    font-weight: 285;
    color: $grayLight;
    margin-left: 4px;
    text-align: right;
  }

  .metric {
    color: $grayDark;
    font-size: rem(20px);
    font-weight: 420;
    grid-area: metric;
    line-height: 1;

    @include mediaFrom($breakXs) {
      font-size: rem(40px);
    }
  }

  .change-value {
    border-top: 1px solid $ash;
    font-size: rem(16px);
    font-weight: 500;
    grid-area: percent;
    padding-top: rem(5px);
    text-align: right;
  }
}
