html {
  font-size: 100%;
}

body {
  font-family: $fontPrimary;
  color: $colorFont;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1;
}

.positive-change {
  color: #8fc25e;
}

.negative-change {
  color: #c13a09;
}
